<% provide(:title, "ログイン") %>

<h2>ログイン</h2>

<div class="container"> 
  <%= form_with scope: :session, url: login_path, local: true do |f| %>

    <p><%= f.label :email, "メールアドレス" %></p>
    <%= f.text_field :email, placeholder: 'メールアドレスを入力' %>

    <p><%= f.label :password, "パスワード" %></p>
    <%= f.password_field :password, placeholder: 'パスワードを入力' %>
  
    <p><%= f.submit "ログインする", class: "btn" %></p>

    <p><%= link_to "新規登録はこちら", signup_path %></p>
  <% end %>
</div>
