<h1>記事の更新</h1>

<%= form_with model: @article, local: true do |f| %>
  <%= render partial: 'shared/error_messages', locals: { object: f.object } %>

  <%= f.label :title, "タイトル" %>
  <%= f.text_field :title %>

  <%= f.label :content, "内容" %>
  <%= f.text_area :content%>

  <%= f.submit "更新する" %>
<% end %>