<% provide(:title, "記事編集") %>

<h2>記事の編集</h2>

<div class="container">
  <%= form_with model: @article, local: true do |f| %>
    <p><%= render partial: 'shared/error_messages', locals: { object: f.object } %></p>

    <p><%= f.label :title, "タイトル（５０文字以内）" %></p>
    <p><%= f.text_area :title,  rows: 2 %></p>

    <p><%= f.label :content, "好きなモノについて紹介してください！" %></p>
    <p><%= f.text_area :content,  rows: 20 %></p>

    <p><%= f.submit "更新する", class: "btn" %></p>
  <% end %>
</div>