<% provide(:title, "") %>

<%= render partial: 'landing_page' unless logged_in? %>

<div class="section-title">投稿一覧</div> 

<%= search_form_for @q do |f| %>
  <%= f.search_field :title_or_content_cont, placeholder: "記事をキーワード検索" %>
  <%= f.submit "検索", class: "btn btn-search" %>
<% end %>

<%= render partial: 'shared/articles_grid', locals: { object: @articles } %>
<%= paginate @articles, window: 2, left: 1, right: 1 %>
