<% provide(:title, "") %>

<%= render partial: 'landing_page' unless logged_in? %>

<div class="section-title">投稿一覧</div> 

<%= search_form_for @q do |f| %>
  <div class="keyword_search">
    <%= f.search_field :title_or_content_cont, placeholder: "記事をキーワード検索" %>
  </div>

  <div class="category_search">
    <%= f.label :category_id_eq, 'カテゴリー' %>
    <%= f.collection_select(:category_id_eq, @categories, :id, :name, {:include_blank => '指定なし'}) %>
  </div>

  <div class="sort_search">
    <%= f.label :sorts, '　　表示順' %>
    <%= f.select :sorts, {'最新順': 'created_at desc', 'いいね順': 'likes_count desc' }, { selected: selected_sort } %>
  </div>

  <%= f.button :type => "submit", class: "btn btn-search" do %>
    <i class="fas fa-search"></i>  検索
  <% end %>
<% end %>

<% unless @articles.present? %>
  <div class="no_articles">記事が見つかりませんでした</div>
<% end %>

<%= render partial: 'shared/articles_grid', locals: { object: @articles } %>
<%= paginate @articles, window: 2, left: 1, right: 1 %>
