<% provide(:title, "新規投稿") %>

<h2>記事の新規投稿</h2>

<div class="container">
  <%= form_with model: @article, local: true do |f| %>
    <p><%= render partial: 'shared/error_messages', locals: { object: f.object } %></p>

    <p><%= f.label :title, "タイトル（５０文字以内）" %></p>
    <%= f.text_area :title,  rows: 2 %>

    <p><%= f.label :content, "好きなモノについて紹介してください！" %></p>
    <%= f.text_area :content,  rows: 20 %>

    <p><%= f.submit "投稿する", class: "btn" %></p>
  <% end %>
</div>
