<% provide(:title, "新規投稿") %>

<div class="section-title">記事の投稿</div> 

<div class="my_container">
  <%= form_with model: @article, local: true do |f| %>
    <p><%= render partial: 'shared/error_messages', locals: { object: f.object } %></p>

    <%= f.label :title, "タイトル(５０文字以内)" %>
    <%= f.text_area :title,  rows: 3 , placeholder: "例：絶対に一度は見るべき映画を紹介します。" %>

    <%= f.label :content, "好きなモノについて紹介してください" %>
    <%= f.text_area :content,  rows: 25 , placeholder: "好きなモノの概要、おすすめポイント等"%>

    <%= f.label :category, 'カテゴリー' %>
    <%= f.collection_radio_buttons(:category_id, Category.all, :id, :name) do |b| %>
      <%= b.label do %>
        <%= b.radio_button %>
        <%= b.text %>
      <% end %>
    <% end %>

    <%= f.submit "投稿する", class: "btn" %>
  <% end %>
</div>
