<% provide(:title, "ユーザー情報の編集") %>

<div class="section-title">ユーザー情報の編集</div> 

<div class="my_container">
  <%= form_with model: @user, local: true do |f| %>
    <p><%= render partial: 'shared/error_messages', locals: { object: f.object } %></p>

    <div class="my_container">
      <div class="user_info">
        <% if @user.picture? %>
          <%= image_tag @user.picture.url, id: :img_prev, class: "user-icon" %>
        <% else %>
          <%= image_tag 'default_icon.png', id: :img_prev, class: "user-icon" %>
        <% end %>

        <p><%= f.label :picture, "アイコンを選択", {class: 'choose_icon_btn'} %></p>
        <%= f.file_field :picture, id: :user_picture, accept: 'image/jpeg,image/gif,image/png' %>
        <script type="text/javascript">
          $(function() {
            function readURL(input) {
                if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
            $('#img_prev').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
                }
            }
            $("#user_picture").change(function(){
                readURL(this);
            });
          });
        </script>
        <div class="remove_checkbox">
          <%= f.check_box :remove_picture %>
          <label for="user_remove_picture">アイコンを削除する</label>
        </div>
      </div>
    </div>

    <%= f.label :name, "ユーザー名" %>
    <%= f.text_field :name, placeholder: 'ユーザー名を入力' %>

    <%= f.label :email, "メールアドレス" %>
    <%= f.text_field :email, placeholder: 'メールアドレスを入力' %>

    <%= f.label :password, "パスワード(6文字以上)" %>
    <%= f.password_field :password, placeholder: '変更後のパスワードを入力' %>

    <%= f.label :password_confirmation, "パスワードの再入力" %>
    <%= f.password_field :password_confirmation, placeholder: '変更後のパスワードを再入力' %>

    <%= f.submit "更新する", class: "btn" %>
  <% end %>
</div>
