<% provide(:title, "ユーザー情報の編集") %>

<h2>ユーザー情報の編集</h2>

<%= form_with model: @user, local: true do |f| %>
  <%= render partial: 'shared/error_messages', locals: { object: f.object } %>

  <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>

  <%= f.label :name, "アカウント名" %>
  <%= f.text_field :name %>

  <%= f.label :email, "メールアドレス" %>
  <%= f.text_field :email %>

  <%= f.label :password, "パスワード（6文字以上）" %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation, "パスワードの再入力" %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit "更新する" %>
<% end %>
