<% provide(:title, "ユーザー登録") %>

<div class="section-title">ユーザー登録</div> 

<div class="my_container">
  <%= form_with model: @user, local: true do |f| %>
    <p><%= render partial: 'shared/error_messages', locals: { object: f.object } %></p>

    <div class="image_btn"><p><%= f.label :name, "ユーザー名" %></p></div>
    <%= f.text_field :name, placeholder: 'ユーザー名を入力' %>

    <p><%= f.label :email, "メールアドレス" %></p>
    <%= f.text_field :email, placeholder: 'メールアドレスを入力' %>

    <p><%= f.label :password, "パスワード（6文字以上）" %></p>
    <%= f.password_field :password, placeholder: 'パスワードを入力' %>

    <p><%= f.label :password_confirmation, "パスワードの再入力" %></p>
    <%= f.password_field :password_confirmation, placeholder: 'もう一度パスワードを入力' %>

    <p><%= f.submit "登録する", class: "btn" %></p>
  <% end %>
</div>
