<% provide(:title, @user.name) %>

<div class="my_container">
  <div class="user_info">
    <% if @user.picture? %>
      <%= image_tag @user.picture.url, class: "user-icon" %>
    <% else %>
      <%= image_tag 'default_icon.png', class: "user-icon" %>
    <% end %>
    <div class="user-name"><%= @user.name %></div>

    <div class="score">
      <div class="score_section">
        <div class="score_title">営業件数(記事数)</div> 
        <div class="total"><span><%= @user_articles.size %></span>件</div>
      </div>
      <div class="score_section">
        <div class="score_title">営業成績(獲得いいね)</div> 
        <div class="total"><span><%= total_likes(@user_articles) %></span>件</div>
      </div>
    </div>
  </div>
  <%= render 'edit_btn' %>
</div>

<div class="section-title">営業履歴</div> 
<%= render partial: 'shared/articles_grid', locals: { object: @user_articles_pages } %>
<%= paginate @user_articles_pages, window: 2, left: 1, right: 1 %>

<div class="my_container">
  <%= render 'delete_btn' %>
</div>