<% provide(:title, @user.name) %>

<div class="my_container">
  <div class="user_info">
    <% if @user.picture? %>
      <%= image_tag @user.picture.url, class: "user-icon" %>
    <% else %>
      <%= image_tag 'default_icon.png', class: "user-icon" %>
    <% end %>
    <div class="user-name"><%= @user.name %></div>
  </div>
  <%= render 'edit_btn' %>
</div>

<div class="section-title">投稿一覧</div> 
<% unless @user.articles.present? %>
  <h3>投稿記事はありません</h3>
<% end %>

<%  user_articles = @user.articles.page(params[:page]).per(6) %> 
<%= render partial: 'shared/articles_grid', locals: { object: user_articles } %>
<%= paginate user_articles %>

<div class="my_container">
  <%= render 'delete_btn' %>
</div>