<div class="page-header">
  <div class="header-menu">
    <%= link_to image_tag('logo.png', alt:'logo', class: "logo") , '/' %>
    <ul class="main-nav">
      <div class="nav-menu">
        <% if logged_in? %>
          <li>
            <% if current_user.picture? %>
              <%= link_to image_tag(current_user.picture.url, class: "user-icon"), current_user %>
            <% else %>
              <%= link_to image_tag('default_icon.png', class: "user-icon"), current_user %>
            <% end %>
          </li>
          <li>
            <%= link_to new_article_path, class: "nav-item"  do  %>
               <i class="fas fa-pencil-alt"></i>投稿
            <% end %>
          </li>
          <li><%= link_to "ログアウト", logout_path , method: :delete , data: {confirm: "ログアウトしますか？"}, class: "nav-item" %></li>
          <% if current_user.admin? %>
            <li><%= link_to "ユーザー一覧"  , users_path , class: "nav-item" %></li>
          <% end %>
        <% else %>
          <li><%= link_to "新規登録"  , signup_path , class: "nav-item" %></li>
          <li><%= link_to "ログイン", login_path , class: "nav-item" %></li>
        <% end %>
      </div>
    </ul>
  </div>
</div>