<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag('favicon.png') %>
    <title><%= full_title(yield(:title)) %> </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="twitter:card" content="summary_large_image"/> <!--①-->
    <meta name="twitter:site" content="@tom_tkyw"/> <!--②-->
    <meta property="og:url" content="https://www.sales-talk.net"/> <!--③-->
    <meta property="og:title" content="SALES TALK"/> <!--④-->
    <meta property="og:description" content="自分の好きなモノを紹介するwebサービス"/> <!--⑤-->
    <meta property="og:image" content="https://sales-talk-picture.s3-ap-northeast-1.amazonaws.com/+thumbnail/thumbnail.png"/> <!--⑥-->
    <link href="https://fonts.googleapis.com/css?family=Kosugi+Maru|Noto+Sans+JP|Sawarabi+Mincho&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="main">
    <% flash.each do |message_type, message| %>
      <p class="notification"><%= message %></p>
    <% end %>
    <%= yield %>
    </div>
    <%= debug(params) if Rails.env.development? %>
    <%= render 'layouts/footer' %>
  </body>
</html>
