<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag('favicon.png') %>
    <title><%= full_title(yield(:title)) %> </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@tom_tkyw"/>
    <meta property="og:url" content="https://www.sales-talk.net"/>
    <meta property="og:title" content="SALES TALK"/>
    <meta property="og:description" content="自分の好きなモノを紹介するwebサービス"/>
    <meta property="og:image" content="https://sales-talk-picture.s3-ap-northeast-1.amazonaws.com/+thumbnail/twitter_card.png"/> 
    <link href="https://fonts.googleapis.com/css?family=Kosugi+Maru|Noto+Sans+JP|Sawarabi+Mincho&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="main">
      <%= render 'layouts/alert' %>
      <%= yield %>
    </div>
    <%= debug(params) if Rails.env.development? %>
    <%= render 'layouts/footer' %>
  </body>
</html>
